body{
    font-family: Verdana;
    font-size: 1.1em;
    background-color: silver;
    color: darkblue;
}
h1{
    font-variant: all-small-caps;
    background-color: red;
}
a:hover{
border: 3px dot-dash greenyellow;
padding: 3px;

}
.stippeltjesrand{
    border: 2px dotted black;

}